.centerBlock {
    display: table;
    margin: auto;
}


/* formato general */

body {
    font-family: Arial;
}

hr {
    border-color: #6A1B9A;
    background-color: #6A1B9A;
}

h1, h2, h3, h4, h5 {
    color: #6A1B9A;
}

p {
    color: #6A1B9A;
    text-align: center;
}


/*Formato para la foto*/

.pictureCust {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}


/*Configuracion personalizada de los elementos de la pagina */

.headerCust {
    background-color: #6A1B9A;
    color: white;
    padding: 0.5%;
    font-size: 2.5em;
}

.container {
    padding-top: 2.5%;
}

.efectoHov:hover {
    background-color: #6A1B9A;
    color: white;
}

.efectoHov {
    background-color: white;
    -webkit-transition: background-color 1000ms ease, color 800ms ease;
    -moz-transition: background-color 1000ms ease, color 800ms ease;
    -o-transition: background-color 1000ms ease, color 800ms ease;
    -ms-transition: background-color 1000ms ease, color 800ms ease;
    transition: background-color 1000ms ease, color 800ms ease;
    border: none;
}


/* do not group these rules */

*::-webkit-input-placeholder {
    color: #6A1B9A !important;
}

*:-moz-placeholder {
    /* FF 4-18 */
    color: #6A1B9A !important;
}

*::-moz-placeholder {
    /* FF 19+ */
    color: #6A1B9A !important;
}

*:-ms-input-placeholder {
    /* IE 10+ */
    color: #6A1B9A !important;
}

.form-control {
    border-color: #6A1B9A;
}

.form-control:focus {
    border-color: #6A1B9A;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(106, 27, 154, 0.6);
}

.btn-custom, btn-custom:active {
    background: #6A1B9A;
    color: white !important;
}

.btn-custom:hover {
    color: white;
}
